name: CD - Terraform Deploy 

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag to deploy"
        required: true

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
          -var="image_tag=${{ github.event.inputs.image_tag }}" \
          -var="dockerhub_repo=${{ secrets.DOCKERHUB_REPO }}" \
          -var="execution_role_arn=${{ secrets.ECS_EXECUTION_ROLE_ARN }}" \
          -var='subnet_ids=[${{ secrets.SUBNET_IDS }}]' \
          -var="db_name=${{ secrets.DB_NAME }}" \
          -var="db_username=${{ secrets.DB_USERNAME }}" \
          -var="db_password=${{ secrets.DB_PASSWORD }}" \

